html {
    text-align: center;
    font-family: 'Times sNew roman';
    background-image: url("hypixellogo.jpeg");
    background-position-y: -50px;
    background-size: cover;
    color: #2a75a7;
}

h1 {
    font-size: 64px;
}

.mainbuttonclass {
    font: 'Times New Roman';
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    size: 70px;
    font-size: 26px;
    margin: 0;
    background-color: #2874A6;
    border-radius: 20px;
    border-width: 3px;
    border-color: #154360;
    box-shadow: 10px;
    box-shadow: #024360
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}
